table.fact-table {
    width: 100%;
/*    padding-left:102px;*/
}

div.expand-collapse {
    float:right;
    margin: -15px 80px 15px 0;
}

td.heading {
    color: #196297;
    padding:8px 0 8px 0;
}

td.heading span {
    padding-left:18px;
    background-image: url(../../images/static/col.gif);
    background-position: left center;
    background-repeat: no-repeat;
}

span.expanded {
    background-image: url(../../images/static/exp.gif) !important;
}

td.heading span:hover {
    cursor:pointer;
}

td.fact {
    padding: 0 10px 0 18px;
}

td.fact p {
    margin: 8px 0;
}

table.fact-wrapper {
    background-image: url(../../images/static/faq_divider.gif);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}