<% @page_specific_scripts_js = ["/javascripts/vendors/lightview/js/lightview.js"] %>
<% @page_specific_scripts_css = ["/javascripts/vendors/lightview/css/lightview"] %>
<style>
  body{
    background-color: #fafafa;
}
li{
  list-style-type: none;
  margin:0 15px 10px 0;
}

  #popular li{
  display:block;
  width:150px;
  float:left;
}

  .button {
   width: 300px;
   height: 40px;
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5.5px 11px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   text-align: center;
   line-height: 40px;
   float:left;
   margin-bottom:50px;
   margin-left: 40px;
   }

.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

#back_button {
     width:50px;
     margin-left:100px;
     float:left;
     cursor: pointer;
     text-decoration: underline;
     color:#009CFF;
}
#next_button {
    width:50px;
    margin-right: 100px;
    float:right;
    cursor: pointer;
    text-decoration: underline;
    color:#009CFF;
}
</style>
<div id="search_json" style="display:none;"></div>
<div id="right_box" class="rounded_border" style="float:right; margin:20px 20px 20px 20px; width:400px; padding:10px; min-height: 400px; background-color:white; position: relative;">
    <h2 style="margin-bottom:30px; text-align: center;">Find Something Interesting!</h2>
    <div id="search">
      <div id="loader" style="width:40px; height:40px; display: block; float:left;"><img id="load_search" src="../../images/search/ajax-loader.gif" style="display:none;" /></div>
      <input type="text" id="search_bar" name="search_bar" size="30" value="Search Public Study Guides"/>
      <input type="button" id="search_button" value="Search"/>
    </div>
    <div id="search_results">
    </div>
    
    <div id="popular" style="position: absolute; top:280px;">
    <h3 style="margin-left:40px;">Popular Now</h3>
    <ul>
      <% @popular.each do |doc| %>
        <li><a href="documents/<%= doc.id%>"><%= doc.name %> (<em><%= doc.tag_name %></em>)</a></li>
      <% end %>
      </ul>
    </div>
  </div>

  <div id="left_box" class="rounded_border" style="float:left; margin:20px 20px 20px 20px; width:400px; padding:10px; min-height: 400px; background-color:white;">
    <h2 style="margin-bottom:80px; text-align: center;">Make Something Awesome!</h2>

      <a href="/documents/create/0" class="button" style="margin-bottom:80px;">Create A New Study Guide</a>
      <a href="/explore?ref=dash" class="button">Organize Your Study Guides</a>
  </div>
<div style="clear: both;"></div>

<% if @username %>
  <div id="username" style="display: none;">
    <h2>Thanks for signing up!</h2>
    <h3>Choose a sweet username to get started!</h3>
    <h5>Don't worry, you can always change it later</h5>
    <span id="validate" style="display:none; color: red;">Username must be 3-20 characters. <br/>Letters, numbers, and underscores only.</span>
    <strong>Username: </strong>
    <input type="text" id="userfield" name="userfield" placeholder="Username"></input>
    <span id="taken" style="display:none; color: red;">Sorry, this is taken</span>
    <span id="available" style="display:none; color: green;">Nice choice!</span>
    <br/><button id="submit" style="display:none;">Get it!</button>
    <a href="/users/sign_out">cancel</a>
  </div>
<% end %>
