* { margin: 0; padding: 0; outline: 0; }

@font-face {
    font-family: 'ITCFranklinGothicLTDemiRg';
    src: url('fonts/franklingothiclt-demi-webfont.eot');
    src: url('fonts/franklingothiclt-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franklingothiclt-demi-webfont.woff') format('woff'),
         url('fonts/franklingothiclt-demi-webfont.ttf') format('truetype'),
         url('fonts/franklingothiclt-demi-webfont.svg#ITCFranklinGothicLTDemiRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html {
    height:100%;
}

body {
    padding:0;
    margin:0;
    height:100%;
/*    background: url(../images/shared/thatch-bg.jpg) repeat 0 0;*/
    font-size: 12px;
    line-height: 20px;
    font-family: Helvetica, arial, sans-serif;
    color: #333333;
/*    background: #dfdacd;*/
}

#wrap { min-height: 100%; }

.usernav { float: right; display: inline; margin: 5px 16px 0 0; position: relative; text-align: right; z-index: 4; }
.usernav ul { list-style: none; margin-top: 5px; }
.usernav li { border-left: 1px solid #ccc; display: inline; margin-left: 10px; padding: 4px 0 2px 10px; }
.usernav li.first { border: none; }
.usernav a { color: #fff; font-size: 16px; font-weight: 500; text-align: right; text-decoration: none; padding: 7px 10px; }
.usernav a:hover{text-decoration: none; padding: 7px 10px; }
.usernav a.active { background: #85ccfa; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

img {
    border: none;
}

img.home {
    height:63px;
    width:100px;
}

.clr { height:10px;clear:both; }
.clr-thin {
    height:0;clear:both;
    padding:2px;
}
.clr-zero{clear:both;}

.rounded_border {
    border: 1px solid lightGrey;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.container{background-color: white; color:#595448; margin-bottom: 15px;}
.container a{color: #218dd2}

.shadow{ box-shadow:2px 2px 5px grey;}

.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

/*input, textarea, select { font-size: 12px; font-family: arial, sans-serif; background: transparent; border: 0; }*/
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width:971px; margin: 0 auto; }

#header { background: #218dd2; border-bottom: 1px solid #0066b2;}

#head {
    padding: 2px 0;
    position: relative;
}

#head .row { padding: 0 0 19px 0; }

h1#logo {
    width: 150px;
    height: 39px;
    float: left;
    display: inline;
}

h1#logo a {
    background: url(../images/home/logo-small.gif) no-repeat 0 0;
    height: 40px; display: block;
    margin-top: 1px; }

.login { float: right; display: inline; width: 252px; margin-top: 6px; position: relative; z-index: 4; }
.login a.login-link { background: url(../images/home/login-down.png) no-repeat right 0; height: 24px; line-height: 24px; padding: 0 31px 0 0; margin-right: 16px; display: block; }
.login a.login-link { font-size: 18px; font-weight: 500; color: #fff; text-align: right; }
.login a:hover { text-decoration: none; }

.dd { position: absolute; top: -4px; right: 0; width: 252px; display: none; z-index: 3; }
.dd .cnt-top { background: url(../images/home/cnt-top.png) no-repeat 0 0; padding-top: 39px; }
.dd .cnt-bottom { background: url(../images/home/cnt-bottom.png) no-repeat 0 bottom; padding-bottom: 22px; }
.dd .cnt { padding: 1px 15px 0 14px; }
.dd .cnt a.login-link-hr { background: url(../images/home/login-up.png) no-repeat right 0; height: 24px; padding: 0 31px 0 0; margin-top: -36px; display: block; float: right; }
.dd .cnt a.login-link-hr { font-size: 18px; font-weight: bold; color: #fff; line-height: 24px; }

.dd .cnt input { color: #cccccc; font-size: 14px; }
.dd .cnt input.field { background: #fff; border: solid 1px #ccc; width: 200px; height: 32px; margin-bottom: 6px; padding: 0 10px; line-height: 32px; }
.dd .cnt input.button { background: url(../images/home/login-button.jpg) no-repeat 0 0; border: 0; width: 102px; height: 36px; cursor: pointer; float:right; display: block; margin-top: 3px; }
.dd .cnt input#check { margin: 10px 5px 0 5px; }
.dd .cnt p { text-align: center; padding: 10px 0 0 0; }
.dd .cnt a.dd-link { color: #333; }

.cols { padding: 40px 0; }
.cols .col { width: 283px; padding: 0 20px; float: left; display: inline; }
.col .col-head h4 { font-size: 18px; text-align: center; }
.col .col-head p { padding: 10px 0 0 0; font-size: 14px; text-align: center; }

#head .row .left { padding: 4px 0 0 0; }
#head .row .right { padding: 8px 17px 0 0; width: 222px; }
#head .row h2 { font-size: 72px; line-height: 30px; color: #fff; }
#head .row p { padding: 3px 0 0 0; font-size: 19px; width: 620px; }
#head .row input { line-height: 31px; color: #cccccc; font-size: 15px; }
#head .row input.field { background: url(../images/home/head-input.jpg) no-repeat 0 0; width: 202px; height: 31px; display: block; margin-bottom: 2px; padding: 0 10px; }
#head .row input.button { background: url(../images/home/head-button.jpg) no-repeat 0 0; width: 157px; height: 40px; cursor: pointer; float:right; display: block; margin-top: 5px; }

#main { 
/*    background: url(../images/home/main-bg.jpg) repeat 0 0; */
/*    border-top: 1px solid #eee;*/
/*    padding: 20px 0 110px 0;*/
}

.whitebg { 
/*    background: green;*/
/*    -moz-border-radius: 10px;*/
/*    -webkit-border-radius: 10px;*/
/*    border-radius: 10px;*/
/*    -moz-box-shadow: 0 0 5px #AAAAAA;*/
/*    -webkit-box-shadow: 0 0 5px #AAAAAA;*/
/*    box-shadow: 0 0 5px #AAAAAA;*/
/*    margin: -50px 0 15px 0;*/
/*    padding: 20px 30px 30px 30px;*/
/*    behavior: url(ie-css3.htc);*/
}

#content h3 { font-size: 28px; padding: 10px 0; }

.whitebg p { padding-bottom: 20px; }
#content ul { list-style: none; margin-left: 20px; padding-bottom: 20px; }
ul.funfacts li { background: url(../images/home/tiny-egg.png) no-repeat; padding: 3px 0 5px 22px; }

#footer { 
  background: #004578;
  border-top: 2px solid #218dd2;
  -moz-box-shadow: 0 0 5px #666;
  -webkit-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
  behavior: url(ie-css3.htc);
  clear: both; position:
  relative; height: 110px;
  margin-top: 10px;
}

#footer .shell { padding: 10px 0 0px 0; width: 971px; }
#footer h4 { color: #fff; }
#footer ul { list-style: none; margin-top: 3px; }
#footer ul li { display: block; color: #dfdacd; line-height: 18px;  }
#footer ul li a { color: #dfdacd; }
#footer .links { float: left; display: inline; padding-right: 90px; }
#footer .address { float: left; display: inline; padding-right: 130px; }
#footer .social { float: right; display: inline; }
#footer .social a { float: left; display: inline; font-size: 0; line-height: 0; text-indent: -4000px; }
#footer .social a.twitter-link { background: url(../images/home/twitter-icon.png) no-repeat 0 0; width: 35px; height: 44px; padding: 0 19px 0 0; margin-top: 3px; }
#footer .social a.facebook-link { background: url(../images/home/facebook-icon.png) no-repeat 0 0; width: 21px; height: 44px; }
#footer .social a.google-link { background: url(../images/home/google-icon.jpg) no-repeat 0 0; width: 43px; height: 44px; }
#footer .bottom { margin-top: -20px; }
#footer .bottom p { text-align: right; font-size: 12px; color: #0066b2; }

#sign-up .input { line-height: 24px; color: #595448; font-size: 15px; }
#sign-up input.field { background: url(../images/home/head-input.jpg) no-repeat 0 0; width: 202px; height: 31px; display: block; margin-bottom: 2px; padding: 0 10px; }
#sign-up input.button { background: url(../images/home/head-button.jpg) no-repeat 0 0; width: 157px; height: 40px; cursor: pointer; float:right; display: block; margin-top: 5px; }

.flash_container p { text-align: center; padding: 5px;}

.notice {
    background-color:#4DD64D;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #28A928;
    margin: -20px -30px 20px -30px;
    padding:3px;
}

.error {
    background-color:#FF734D;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #d22b21;
    margin: -20px -30px 20px -30px;
    padding:3px;
}

.alert {
    background-color: #fffba8;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #d22b21;
    margin: -20px -30px 20px -30px;
    padding:3px;
}

.copyright {
    color:#383838;
    padding:15px 0 -25px;
    margin: 0 10px;
    float:left;
    clear:left;
    position:relative;
    top: -10px;
}

.contents {
     width:960px;
     margin:10px auto 0 auto;
     position: relative;
}

/* button styling */

.doc_options button, .display-options, #review_options button {
    border: 1px solid #009CFF;
    background-color:#B3DAF2;
/*    background:#B3DAF2;
    border:#009CFF;*/
    color:#000;

    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
}

.doc_options button:hover, #review_options button:hover {
    text-decoration: underline;
    cursor:pointer;
}

/* modals */

.modal {
    background:white;
    width:400px;

    border: 1px solid lightgrey;
    background: #EFEBDD;

    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.modal .title {
    color: #D22B21;
    font-weight: bold;
    padding: 3px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.modal .content {
    background:white;
    padding: 3px;

    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius:0 0 5px 5px;
}

.modal .content div {
    padding: 5px;
}

.modal input[type="submit"]{
    border: 1px solid lightgrey;
    background: #EFEBDD;
    padding:3px;
    font-weight: bold;
    cursor: pointer;

    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.user-tokens .token {
    background-color: #EDDDF0;
    border: solid 1px #999;
    padding: 1px 2px;
    margin: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
    float:left;
    clear:both;
}

.remove {
    display:none;
}

.removable {
    background-color: #DDE4F0 !important;
}

.removable .remove {
    display:inline !important;
}

.remove {
    text-decoration: none;
    padding: 0 4px;
    font-size: 10px;

    position:relative;
    top:-1px;

    color:#333;
    background:#bbb;

    border-radius: 4px;
    -moz-border-radius:4px;
}

.remove:hover {
    color:#999;
    background:#333;
    cursor:pointer;
}

.modal form {
    display:inline;
}

.modal span.option {
    width: 84px;
}

.modal input[type=text] {
    width: 180px;
}

.modal input[type=text], #share_menu select {
    border: solid 1px #999;
    padding: 1px 2px;
    margin: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
}

/* autocompleter */
.autocomplete {
    background: #fff;
    border: 1px solid #009CFF;
    border-top: 0;
    width:173px !important;
    overflow:hidden;
}

.autocomplete li {
    list-style: none;
}

.autocomplete li:hover {
    background:#DDE4F0 !important;
    cursor:pointer;
}

.autocomplete ul {
    padding:0;
    margin:0px;
}

.autocomplete li.selected {
    background:#DDE4F0 !important;
}