html {
    height:100%;
}

body {
    font-family:arial,helvetica,times;
    font-size:13px;
    padding:0;
    margin:0;
    height:100%;
}



a {
    color:#007AC7;
    text-decoration: underline;
}
a:hover {
    cursor:pointer;
}

img {
    border: none;
}

img.home {
    height:63px;
    width:100px;
}

.clr { height:10px;clear:both; }
.clr-thin {
    height:0;clear:both;
    padding:2px;
}
.clr-zero{clear:both;}

.rounded_border {
    border: 1px solid lightGrey;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.wrapper {
    width: 100%;
}

.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.shell { width:971px; margin: 0 auto; }

#header { background: #218dd2; height: 150px;}

#head { background: url(../images/home/head-bg.jpg) no-repeat 8px 17px; padding: 17px 0 130px 14px; position: relative; }
#head .row-top { padding-bottom: 179px; }
#head .row { padding: 0 0 19px 0; }

h1#logo { width: 183px; height: 121px; float: left; display: inline; }
h1#logo a { background: url(../images/home/logo.png) no-repeat 0 0; height: 121px; display: block; }

.login { float: right; display: inline; width: 252px; margin-top: 6px; position: relative; z-index: 4; }
.login a.login-link { background: url(../images/home/login-down.png) no-repeat right 0; height: 24px; line-height: 24px; padding: 0 31px 0 0; margin-right: 16px; display: block; }
.login a.login-link { font-size: 18px; font-weight: bold; color: #fff; text-align: right; }
.login a:hover { text-decoration: none; }

.dd { position: absolute; top: -4px; right: 0; width: 252px; display: none; z-index: 3; }
.dd .cnt-top { background: url(../images/home/cnt-top.png) no-repeat 0 0; padding-top: 39px; }
.dd .cnt-bottom { background: url(../images/home/cnt-bottom.png) no-repeat 0 bottom; padding-bottom: 22px; }
.dd .cnt { padding: 1px 15px 0 14px; background: url(../images/home/cnt-bg.png) repeat-y 0 0;}
.dd .cnt a.login-link-hr { background: url(../images/home/login-up.png) no-repeat right 0; height: 24px; padding: 0 31px 0 0; margin-top: -36px; display: block; float: right; }
.dd .cnt a.login-link-hr { font-size: 18px; font-weight: bold; color: #fff; line-height: 24px; }

.dd .cnt input { color: #cccccc; font-size: 14px; }
.dd .cnt input.field { background: #fff; border: solid 1px #ccc; width: 200px; height: 32px; margin-bottom: 6px; padding: 0 10px; line-height: 32px; }
.dd .cnt input.button { background: url(../images/home/login-button.jpg) no-repeat 0 0; width: 102px; height: 36px; cursor: pointer; float:right; display: block; margin-top: 3px; }
.dd .cnt input#check { margin: 10px 5px 0 5px; }
.dd .cnt p { text-align: center; padding: 10px 0 0 0; }
.dd .cnt a.dd-link { color: #333; }

#footer { background: #cf8e07 url(../images/home/footer-bg.jpg) repeat-x 0 0; }
#footer .shell { padding: 25px 0 0 0; width: 971px; }
#footer h4 { color: #fff; font-size: 14px; }
#footer ul { list-style: none; }
#footer ul li { display: block; font-size: 14px; color: #dfdacd;  }
#footer ul li a { color: #dfdacd; }
#footer .links { float: left; display: inline; padding-right: 130px; }
#footer .address { float: left; display: inline; padding-right: 130px; }
#footer .social { float: right; display: inline; }
#footer .social a { float: left; display: inline; font-size: 0; line-height: 0; text-indent: -4000px; }
#footer .social a.twitter-link { background: url(../images/home/twitter-icon.jpg) no-repeat 0 0; width: 40px; height: 44px; padding: 0 19px 0 0; }
#footer .social a.facebook-link { background: url(../images/home/facebook-icon.jpg) no-repeat 0 0; width: 21px; height: 44px; padding: 0 17px 0 0; }
#footer .social a.google-link { background: url(../images/home/google-icon.jpg) no-repeat 0 0; width: 43px; height: 44px; }
#footer .bottom { padding: 50px 0 10px 0; }
#footer .bottom p { text-align: center; font-size: 12px; color: #dfdacd; }

.copyright {
    color:#383838;
    padding:15px 0 -25px;
    margin: 0 10px;
    float:left;
    clear:left;
    position:relative;
    top: -10px;
}

header {
     font-size:115%;
     margin:0 0 20px 0;
     display:block;
}

.contents {
     width:960px;
     margin:10px auto 0 auto;
     position: relative;
}

.flash_container {
    margin: 5px 0;
    text-align: center;
}

.notice {
    background-color:#4DD64D;
    padding:1px;
}

.error {
    margin: 40px auto;
    background-color:#FF734D;
    padding:1px;
}

/* twitter styling */
div.twtr-doc {
    background-color:#C9C9C9;
}

div.twtr-hd, div.twtr-ft div {
    padding: 4px
}

.twtr-profile-img {
    height:19px !important;
    width:19px !important;
}

div.twtr-hd h3 {
    display:none;
}

.twtr-widget-profile h4 {
    position:relative;
    left:-17px;
    top:1px;
}

div.twtr-ft div span {
    clear:none;
}

div.twtr-tweet-wrap {
    padding: 2px 7px;
}

.error_explanation h2 {
    font-size:1.1em;
}

/* button styling */

.doc_options button, .display-options, #review_options button {
    border: 1px solid #009CFF;
    background-color:#B3DAF2;
/*    background:#B3DAF2;
    border:#009CFF;*/
    color:#000;

    border-top-left-radius: 3px 3px;
    border-top-right-radius: 3px 3px;
    border-bottom-left-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    -moz-border-radius:3px 3px 3px 3px;
}

.doc_options button:hover, #review_options button:hover {
    text-decoration: underline;
    cursor:pointer;
}

/* modals */

.modal {
    background:white;
    width:400px;

    border: 1px solid #009CFF;
    background:#B3DAF2;

    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
}

.modal .title {
    padding: 3px;
    border-bottom: 1px solid #009CFF;
    text-align: center;
}

.modal .content {
    background:white;
    padding: 3px;

    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-radius:0 0 5px 5px;
}

.modal .content div {
    padding: 5px;
}

.user-tokens .token {
    background-color: #EDDDF0;
    border: solid 1px #999;
    padding: 1px 2px;
    margin: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
    float:left;
    clear:both;
}

.remove {
    display:none;
}

.removable {
    background-color: #DDE4F0 !important;
}

.removable .remove {
    display:inline !important;
}

.remove {
    text-decoration: none;
    padding: 0 4px;
    font-size: 10px;

    position:relative;
    top:-1px;

    color:#333;
    background:#bbb;

    border-radius: 4px;
    -moz-border-radius:4px;
}

.remove:hover {
    color:#999;
    background:#333;
    cursor:pointer;
}

.modal form {
    display:inline;
}

.modal span.option {
    width: 84px;
}

.modal input[type=text] {
    width: 180px;
}

.modal input[type=text], #share_menu select {
    border: solid 1px #999;
    padding: 1px 2px;
    margin: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    position: relative;
}

/* autocompleter */
.autocomplete {
    background: #fff;
    border: 1px solid #009CFF;
    border-top: 0;
    width:173px !important;
    overflow:hidden;
}

.autocomplete li {
    list-style: none;
}

.autocomplete li:hover {
    background:#DDE4F0 !important;
    cursor:pointer;
}

.autocomplete ul {
    padding:0;
    margin:0px;
}

.autocomplete li.selected {
    background:#DDE4F0 !important;
}