<% @page_specific_scripts_js = ["/javascripts/store/details.js"] %>
<% @page_specific_scripts_css = ["/stylesheets/store/index.css"]%>


<div style="margin:10px auto; padding:10px; width: 600px;">
  <div class="egg-box" style="float:left;"><div class="egg"><img src="../../images/nounproject/book1.png" class="icon"></div></div>
  <div class="detail-float">
<h1 class="egg-head"><%= @tag.name %></h1>
<% i=0 %>
<ul>
  <% @documents.each do |d| %>
    <%if i<3%>
    <li><a href="/demo/review/<%= d.id %>"><%= d.name %></a></li>
    <%i+=1%>
    <%else%>
    <li><%= d.name %></li>
    <%end%>
  <% end %>
</ul>
    
</div>
</div>
