<div class="splash-img-wrapper">

  <div id="save" style="display: none;">
    <!--<div class="authentications">
      <a href="/auth/twitter" class="auth_provider">
        <%#= image_tag "logos/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
      </a>
      <a href="/auth/facebook" class="auth_provider">
        <%= image_tag "logos/facebook_64.png", :size => "32x32", :alt => "Facebook" %>
      </a>
      <a href="/auth/open_id?openid_url=gmail.com" class="auth_provider">
        <%= image_tag "logos/google_64.png", :size => "32x32", :alt => "Google" %>
      </a>
      <span style="color:#009CFF;"></span>
    </div>
    <div class="line-bg"><span>&nbsp;&nbsp;don't have an account?&nbsp;&nbsp;</span></div>
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%#= link_to "", '/', :class => "register_button"%>
        <div><a href="#sign_up_inline" class="lightview" title=' ::  :: width: 540, height: 425'>Sign Up</a></div>
      <% end %>-->
  </div>


  <div class="promo">
    <h1>With <span style="color: #1d9bca;">StudyEgg</span> you will...</h1>
    <h2 style="display: inline; margin-left: 20px;"> <span style="color:#1d9bca;">Learn More</span>  </h2><h3 style="display: inline;"> using our optimized learning methods</h3>
    <br/><br/>
    <h2 style="display: inline;margin-left: 20px;"> <span style="color:#1d9bca;">Study Less</span> </h2><h3 style="display: inline;">as we manage the learning process for you</h3>
    <br/><br/>
    <a href="#sign_up_inline" class="lightview signup_button" title=' ::  :: width: 540, height: 425'>Sign Up Now!</a>
    <h2 style="display: inline; ">for a BETA account</h2>
    <h4 style="display: block;text-align: center">or <a href="/about">click here</a> to learn more</h4>
  </div>
  <div class="splash"><img id="img_note_card_phone" style="height:425px; margin-top:-20px;" src="/images/home/notes_cards_phone.png" /></div>
    <div style="clear:both;"></div>
</div>
