<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<% @page_specific_scripts_css = ["/stylesheets/registrations/new"] %>
<% @page_specific_scripts_js = ["/javascripts/vendors/cufon-yui.js", "/javascripts/vendors/ITC_Franklin_Gothic_LT_500.font.js", "/javascripts/vendors/jquery-1.6.2.min.js", "/javascripts/vendors/jquery-func.js"] %>

              <!-- Head Row -->
                <div class="row">
                  <div class="left">
                    <h2>Learning Evolved.</h2>
                    <p>Banksy organic 3 wolf moon, four loko whatever art party butcher irony farm-to-table dreamcatcher.</p>
                  </div>

                  <div class="right">
                    <form action="" method="post">
                      <div>
                        <input type="text" class="field blink" title="Email" value="Email" />
                        <input type="text" class="field blink" title="Password" value="Password" />
                        <input type="submit" value="Sign Up Free!" class="button notext" />
                      </div>
                    </form>
                  </div>

                  <div class="cl">&nbsp;</div>
                </div>
              <!-- End Head Row -->

<!-- Navigation -->
<div id="navigation">
  <ul>
    <li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
    <li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
    <li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
    <li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
    <li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
  </ul>
  <div class="cl">&nbsp;</div>

  <a href="#" class="more notext">Browse additional titles</a>
</div>
<!-- End Navigation -->
</div>
<!-- End Head -->
</div>
<!-- End Shell -->
</div>
<!-- End Header -->

<!-- Main -->
<div id="main">
  <!-- Shell -->
  <div class="shell">
    <!-- Content -->
    <div id="content">
      <h3>Feature of process headline</h3>
      <!-- Cols -->
      <div class="cols">
      <!-- Col -->
      <div class="col">
        <div class="col-head">
          <img src="../images/home/egg.png" alt="Image 1" />
          <p>Farm-to-table VHS leggings cliche. Thundercats bicycle rights.</p>
        </div>

        <div class="col-cnt">
          <h4>About</h4>
          <p>Cardigan williamsburg vegan beard retro skateboard. Hoodie aesthetic master cleanse, salvia vinyl letterpress keytar VHS cardigan. Pitchfork master cleanse carles, tofu cliche banksy locavore keffiyeh tumblr mcsweeney's next level helvetica cosby sweater fanny pack bicycle rights. Mustache photo booth high life synth tattooed mlkshk. Farm-to-table lo-fi hoodie raw denim sustainable.</p>
        </div>

      </div>
      <!-- End Col -->

      <!-- Col -->
      <div class="col">

        <div class="col-head second">
          <img src="../images/home/egg.png" alt="Image 2" />
          <p>Farm-to-table VHS leggings cliche. Thundercats bicycle rights.</p>
        </div>

        <div class="col-cnt">
          <p class="next">Skateboard ethical single-origin coffee freegan, farm-to-table readymade cardigan retro hoodie fixie homo american apparel messenger bag. Ethical butcher keffiyeh, skateboard Austin fanny pack echo park vice blog. Cosby sweater salvia farm-to-table cliche, bicycle rights vice mlkshk quinoa DIY Austin tumblr craft beer single-origin coffee twee. Butcher before they sold out banksy cliche, squid beard tumblr mlkshk.</p>
        </div>

      </div>
      <!-- End Col -->

      <!-- Col -->
      <div class="col">

        <div class="col-head last">
          <img src="../images/home/iphone.png" alt="Image 3" />
          <p>Farm-to-table VHS leggings cliche. Thundercats bicycle rights.</p>
        </div>

        <div class="col-cnt">
          <p class="next">Cardigan williamsburg vegan beard retro skateboard. Hoodie aesthetic master cleanse, salvia vinyl letterpress keytar VHS cardigan. Pitchfork master cleanse carles, tofu cliche banksy locavore keffiyeh tumblr mcsweeney's next level helvetica cosby sweater fanny pack bicycle rights. Mustache photo booth high life synth tattooed mlkshk. Farm-to-table lo-fi hoodie raw denim sustainable.</p>
        </div>

      </div>
      <!-- End Col -->

      <div class="cl">&nbsp;</div>
    </div>
    <!-- End Cols -->

   </div>
   <!-- End Content -->

  </div>
  <!-- End Shell -->

</div>
<<<<<<< HEAD
<!-- End Header -->
>>>>>>> homepage design initial commit
=======
<!-- End Main -->
>>>>>>> design changes
=======
>>>>>>> redesign
=======
<!-- Navigation -->
<div id="navigation">
        <ul>
          <% i=0 %>
          <% @eggs.each do |e| %>
            <% if i<5 %>
            <li><a href="/demo/egg_details/<%= e[0] %> "><%=  e[1] %></a></li>
            <% i+=1 %>
            <% end %>
          <% end %>
        </ul>
        <div class="cl">&nbsp;</div>

        <a href="/store" class="more notext">Browse additional titles</a>

</div>
<!-- End Navigation -->
>>>>>>> tag viewer
