<% @page_specific_scripts_css = ["/stylesheets/registrations/new"] %>

<!-- Head Row -->
                <div class="row">
                  <div class="left">
                    <h2>Learning Evolved.</h2>
                    <p>Banksy organic 3 wolf moon, four loko whatever art party butcher irony farm-to-table dreamcatcher.</p>
                  </div>

                  <div class="right">
                    <form action="" method="post">
                      <div>
                        <input type="text" class="field blink" title="Email" value="Email" />
                        <input type="text" class="field blink" title="Password" value="Password" />
                        <input type="submit" value="Sign Up Free!" class="button notext" />
                      </div>
                    </form>
                  </div>

                  <div class="cl">&nbsp;</div>
                </div>
              <!-- End Head Row -->

<!-- Navigation -->
<div id="navigation">
<ul>
<li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
<li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
<li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
<li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
<li><a href="#">General Chemistry:<br />The Essential Concepts</a></li>
</ul>
<div class="cl">&nbsp;</div>

<a href="#" class="more notext">Browse additional titles</a>

</div>
<!-- End Navigation -->

</div>
<!-- End Head -->

</div>
<!-- End Shell -->

</div>
<!-- End Header -->