<!-- Navigation -->
<div id="navigation">
        <ul>
          <% i=0 %>
          <% @eggs.each do |e| %>
            <% if i<5 %>
            <li><a href="/demo/review/<%= e[0] %> "><%=  e[1] %></a></li>
            <% i+=1 %>
            <% end %>
          <% end %>
        </ul>
        <div class="cl">&nbsp;</div>

        <a href="#" class="more notext">Browse additional titles</a>

</div>
<!-- End Navigation -->
