<% @page_specific_scripts_js = ["/javascripts/vendors/lightview/js/lightview.js"] %>
<% @page_specific_scripts_css = ["/javascripts/vendors/lightview/css/lightview", "/stylesheets/registrations/new"] %>
<!--<div id="script_lightview"></div>-->

<div class="splash-wrapper">
  
  <div class="headline" id="headline">
    <!--<h1><span style="color:#009CFF;">Efficient </span> learning for <span style="color:#009CFF;">passionate</span> students</h1>-->
    <!--<h5>Roll over the images below to see how</h5>-->
  </div>
  <%# front_page = ab_test("signup_top") %>
  <%# if front_page %>
    <%= render 'signup_top' %>
  <%# else %>
    <%#= render 'signup_bottom' %>
  <%# end %>
</div>

<!--sign in - inline-->
<div style="display:none"><%= render :partial => "shared/sign_up_form" %></div>