.eggs {
  margin-top:8px;
}

.egg_container {
  width:932px !important;
  margin: 10px 10px !important;
}

.egg_image {
  position:relative;
  max-height: 50px;
  max-width: 50px;
  top:-6px;
  margin-left:-2px;
  left:-3px;
}

.clr {
  height:0px;
}

.statement {
/*  border-top: 1px solid #eee;*/
  margin:5px 5px 0px;
  padding:2px;
  padding-left:41px;
}

.utterance {
  float: right;
  width: 872px;
  position: relative;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 2px;
}