.details_label {
    margin:5px 0;
    display: inline;
}

body {
font-size: 12px;
line-height: 18px;
font-family: Helvetica, arial, sans-serif;
color: #333;
}

#contents a{
    color: #007AC7;
}

/*
Vertical Accordions
*/

.accordion_toggle {
    display: block;
    height: 30px;
    width: 93.5%;
    float:left;
    padding: 0 10px 0 30px;
    line-height: 32px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    color:  #d22b21;
    /*border-bottom: #9a9a9a 1px solid;*/
    cursor: pointer;
    margin: 5px 0 0 0;
    background-color: #efebdd; /*#dfdacd;*/
    z-index:1;
}

.expand{
    background-image: url('../../images/organizer/expand.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.collapse{
    background-image: url('../../images/organizer/collapse.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.accordion_toggle_active {
    background: url(images/accordion_toggle_active.jpg) no-repeat top right #e0542f;
    color: #ffffff;
    border-bottom: 1px solid #f68263;
}

.accordion_content {
    padding:0 20px 0 20px;
    background-color: #ffffff;
    color: #444444;
}

.accordion_content h2 {
        margin: 15px 0 5px 10px;
        color: #0099FF;
}

.accordion_content p {
        line-height: 150%;
        padding: 5px 10px 15px 10px;
}

/* dashboard */

#documents {
    border: 0;
    width:70%;
    float:right;
    padding:2px 7px 7px 7px;
    margin-left: 5px;
    background-color: white;
    min-height: 375px;
}

#details{
    float:left;
    border: 0;
    width: 100%;
    padding:10px;
    min-height: 275px;
    margin-top: 5px;
    color:#218dd2;
}

#details, #documents, .button {

}

#left_container{
    float:left;
    width:25%;
}

.doc_item{
    margin:5px 0 0 20px;
    padding:1px 1px 1px 10px;
    line-height: 21px;
    position: relative;
}

/*.doc_item:hover{
    border: #d0dae3 solid 1px;
    padding:0 0 0 10px;
}*/

.active{
    border:solid 1px #007AC7;
    padding:0 0 0 10px;
    background-color: #f2f9ff;
    
}

.active:hover{
    border:solid 1px #007AC7;
    padding:0 0 0 10px;
}

.inactive{
    border:none;
    padding: 1px 1px 1px 11px;
}

.doc_title{
    color: #007AC7;
    text-decoration: none;
    position: relative;
    top: 0px;
}

.doc_title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.doc_actions{
    width:17px;
    margin-top: 3px;
    float:right;
}

.doc_actions ul{
    list-style-type: none;
    margin: 0 0 0 -20px;
    padding-right: 3px;
}

.doc_actions ul li{
    margin: 0 0 0 -16px;
    text-align: left;
}

.doc_action_img{
    margin-right:5px;
    float:left;
}

.rounded_border{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.remove_doc {
    color: #007AC7;
    text-decoration: underline;
    cursor: pointer;
}

.button {
   width: 100%;
   height: 20px;
   margin-top:8px;
   border: 1px solid #b6b1a3;
   background: #f5df64;/*#f5df64;*/
   padding: 5.5px 11px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
/*   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;*/
/*   text-shadow: rgba(0,0,0,.3) 1px 2px 1px;*/
   color: #595448 !important;
   font-size: 18px;
   text-decoration: none;
   font-weight: bold;
   vertical-align: middle;
   text-align: center;
   line-height: 22px;
   float:left;
   margin-bottom: 7px;
   }

.button:hover {
/*   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;*/
   }
   
.button:active {
/*   border-top-color: #1b435e;
   background: #1b435e;*/
   }

#detail_name{
   font-size:  large;
   font-weight: 600;
   float: left;
}

.selector{
    width:90%;
    margin-bottom: 5px;
}

.edit_icon{
    float:left;
    margin-left: 5px;
    padding-right:20px;
    width: inherit;
    background: url(../../images/organizer/edit-icon-bw-15x15.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.edit_icon:hover{
    background: url(../../images/organizer/edit-icon-15x15.png);
    background-repeat: no-repeat;
    background-position: right top;
    cursor: pointer;
}

.remove_folder_icon{
    margin-top:8px;
    float:right;
}

.edit_folder_icon{
    margin-top:8px;
    margin-right:7px;
    float:right;
}

#create_folder{
    color: #007AC7;
    text-decoration: underline;
    cursor: pointer;
    display:block;
    text-align: center;
}

.elbow{
    display:block;
    float:left;
    margin-right:3px;
}

.single_doc_title{
    display:block;
    height:20px;
    width:75%;
    float:left;
    margin:2px 0 10px 3px;
    padding:2px 2px 0 2px;
    border:solid 1px #cfcfcf;
    overflow:hidden;
}

.single_doc_title:hover{
    background-color: #fefde2;
    cursor: pointer;
}

.edit_doc_title{
    margin:-2px 0 0 -2px;
    width:100%;
}

#username h1, #username h2, #username h3, #username h4, #username h5{ margin:5px; padding:5px;}
#username input{border: #b6ae9a 1px solid;}

#details input, #details textarea, #details select { font-size: 16px; font-family: arial, sans-serif; background: transparent; border: solid 1px #CFCFCF;}