#card_json{:style => "display:none;"}= @lines_json

#media

#chat
  .title
    %h4
      Aligned StudyEgg for:
    %h2 Metaphysics of the impossible
  .output
    .statement
      = image_tag "eggs/1.png"
      .utterance Hi, Josh. Great to see you again!
      .utterance Let's start with some Bio questions.
    /*.clr */
    .statement
      .clr
      = image_tag "eggs/thehead.jpg"
      .utterance Hi, Josh. Great to see you again!
      .utterance Let's start with some Bio questions.
  .input{:contenteditable => ''}