<% @page_specific_scripts_js = ["parser"] %>

<div id="tags_json" style="display: none;"><%= @tags_json %></div>

<div class="new_guide_button">
   <a href="/documents/create/0" class="button">Generate New Study Guide</a>
</div>
<div style="clear:both;"></div>
<div id="details" class="rounded_border">
    <div id="metainfo">
      <h4 class="details_label">Title: </h4><em>Cells</em><br/>
      <h4 class="details_label">Last Updated: </h4><em>5/29/2011</em>
    </div>
</div>

<div id="documents" class="rounded_border">
  <h2 tag_id="1234" class="accordion_toggle">Misc.</h2>
  <div id="accordion_content_1234" class="accordion_content" tag_id="1234" >
    <div class="doc_item inactive" doc_id="1020">
      <input type="checkbox" class="chbox" doc_id="1020"/>
      <span class="doc_title" doc_id="1020">Random</span>
      <div class="doc_actions">
        <ul>
          <li><a href="/documents/1020/edit">edit</a></li>
          <li><a href="/review/1020">review</a></li>
          <li><span class="remove_doc" doc_id="1020">delete</span></li>
        </ul>
      </div>
    </div>

    <div class="doc_item inactive" doc_id="1021">
      <input type="checkbox" class="chbox" doc_id="1021"/>
      <span class="doc_title" doc_id="1021">Untitles</span>
      <div class="doc_actions">
        <ul>
          <li><a href="/documents/1021/edit">edit</a></li>
          <li><a href="/review/1021">review</a></li>
          <li><span class="remove_doc" doc_id="1021">delete</span></li>
        </ul>
      </div>
    </div>
  </div>

  <h2 tag_id="4321" class="accordion_toggle">Bio 101</h2>
  <div id="accordion_content_1234" class="accordion_content" tag_id="4321" >
    <div class="doc_item inactive" doc_id="1022">
      <input type="checkbox" class="chbox" doc_id="1022"/>
      <span class="doc_title" doc_id="1022">Cells</span>
      <div class="doc_actions">
        <ul>
          <li><a href="/documents/1022/edit">edit</a></li>
          <li><a href="/review/1022">review</a></li>
          <li><span class="remove_doc" doc_id="1022">delete</span></li>
        </ul>
      </div>
    </div>

    <div class="doc_item inactive" doc_id="1023">
      <input type="checkbox" class="chbox" doc_id="1023"/>
      <span class="doc_title" doc_id="1023">Darwin and Evolution</span>
      <div class="doc_actions">
        <ul>
          <li><a href="/documents/1023/edit">edit</a></li>
          <li><a href="/review/1023">review</a></li>
          <li><span class="remove_doc" doc_id="1023">delete</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="clr"></div>
