- @page_specific_scripts_css = ["store/index"]

.eggs
  - @tags.each do |e|
    .egg_container
      .title
        %img.egg_image{:src => "../../images/eggs/#{(1..9).to_a.sample}.png"}
        %h4 Aligned StudyEgg for:
        %a{'href' => "/store/egg_details/#{e.id}"}
          %h2= e.name
      .statement
        %a
          Virtuous monkey lesson
        |
        %a
          Howlers are just like us
        |
        %a
          Knuckle walking 101
        |
        %a
          Bamboo for breakfast
        \...
        .clr
  %div{:style => "clear:both"}