<% @page_specific_scripts_css = "static/generic" %>

<div class="title">About Zen.do</div>

<div class="about_sections">
  <div class="problem about_section">
    <h3>The Problem: Managing an <span class="important_term">unmanagable</span> amount of information</h3>
    <p>
      As students, we are frequently asked to learn an extraordinary amount of information over a short period of time. When it comes time for us to review, we have to go through the burdensome process of sorting through book and lecture notes to determine what really matters before we can even begin to study it.
    </p>
    <p>
      It is clear that this is an inefficient process - we should not be spending valuable (and sparse!) study time figuring out what we need to learn or reviewing stuff that we already know.
    </p>
  </div>

  <div class="hr"></div>

  <div class="solution about_section">
    <h3>The Solution: Study <span class="important_term">what</span> you need to <span class="important_term">when</span> you need to</h3>
    <p>
      To get started, simply take notes as you would normally in our web-based editor.
    </p>
    <p>
      Just one difference: Whenever you write down a concept, name, important date, etc. -- something that you want to learn -- add a hyphen between the term/name/date and its definition.
    </p>
    <p>
      Now you're ready to dramatically optimize your studying. Study just the material that you need to know while Zen.do optimizes your time and tracks your progress.
    </p>
  </div>

  <div class="hr"></div>

  <div class="vision about_section">
    <h3>Our Vision</h3>
    <p>
      Generate a set of rich study materials with <span class="important_term">no extra time or effort</span> in the note-taking process. Just take notes on your computer as usual -- that's it.
    </p>
    <p>
      Make <span class="important_term">efficient</span> use of study time. Don't just read through your notes a few times before the test. Instead, review only what matters and what you have likely forgotten.
    </p>
    <p>
      Focus on the <span class="important_term">long-term.  </span>Keep the most important information you've learned at the tip of your tongue.
    </p>
  </div>
</div>