     <!-- <h3>What exactly Is StudyEgg?</h3>
      <p>
        StudyEgg is a service that takes all the hassle and cramming out of studying.
      </p>
      <p>
        Despite overwhelming research showing the benefits of test driven studying (like flash cards and fill-in-the-blank questions) too many students don't think they have the time to invest in creating these awesome resources.
        This is where we come in. StudyEgg helps convert your notes, professor's powerpoints, even digital textbooks into easy and effective activities <span class="important_term">proven</span> to help you perform <span class="important_term">3x better</span> compared to just reading and rereading notes. What's more, you will remember those facts <span class="important_term">8 times longer.</span>
      </p>
      <p>
        Pretty great, huh? We think so! But it doesn't stop there. We'll get you ready for your test too by sending you the facts periodically on your phone prioritized by what you're still having trouble with or haven't seen in a while (so you don't forget).  Not only will you know the material for the test next week, but the midterm next month, and the Jeopardy question next year.
      </p>

    <div class="hr"></div>

      <h3>How Does It Work?</h3>
      <p>
        First, we use a little computer magic to help you convert your notes into interactive activities.
      </p>
      <p>
        Then we start sending them you to you in small bite-sized batches to learn little by little (of course you can always use us for a longer study session as well).
      </p>
      <p>
        Based on how well you do on each activity we prioritize which ones you need to review next (and as time passes which ones you're likely to have forgotten).
      </p>

    <div class="hr"></div>

      <h3>No Notes? No Problem</h3>
      <p>
        Sure, we make it easy to create a rich set of interactive activities for any topic, but what if you don't have good notes to go on? Right now you have a few options with even more coming soon!
      </p>
      <p>
        We allow individuals to <span class="important_term">share</span> their study guides with other classmates. Just like you would in a real study group.  You can also browse our public study guides and find something interesting there.
      </p>
      <p>
        In the near future we also plan to offer a marketplace where students can buy high quality pre-made study guides specific to their particular class or textbook.
      </p>-->



      <h3>Cramming is SO Last Semester</h3>
      <p>
          StudyEgg makes studying easier, less stressful, and more effective.  For too many students learning has become an exercise in putting out fires. Cramming in just enough to do well on an exam (or not) the night before. Finishing just in time to do it all over again with a different class.  Studying this way is not only high stress but it’s an extremely ineffective way to learn.
          StudyEgg changes all that by utilizing state-of-the-art learning research to help students learn better, retain information longer, and spend less time studying.
      </p>

      <h3>Why It Works</h3>
      <p>
        StudyEgg takes advantage of proven memory techniques, such as spaced repetition and active recall testing, to help you perform 3x better than traditional study methods (reading and rereading texts).  What’s more, you will remember those facts 8 times longer. Pretty great, huh? We think so!
      </p>

      <p>
        But it doesn't stop there. You don’t even have to worry about remembering when or what to study. StudyEgg manages the whole process for you.  We'll get you ready for your test by sending you the facts periodically on your phone prioritized by what you're still having trouble with or haven't seen in a while (so you don't forget). Not only will you know the material for the test next week, but for the midterm next month, and for the Jeopardy question next year.
      </p>

      <h3>How It Works</h3>
      <p>Simply find a StudyEgg you want to learn or create your own and start taking advantage of these optimized learning techniques instantly!</p>

      <div class="cols">

				<!-- Col -->
				<div class="col" style="width:260px">

					<div class="col-head">
						<img src="../images/home/step1.png" alt="Find Your Egg" />
						<h4>Find Your Egg</h4>
						<p>Instant access to a companion <br>StudyEgg for your textbook</p>
					</div>

				</div>
				<!-- End Col -->

				<!-- Col -->
				<div class="col" style="width:260px">

					<div class="col-head second">
						<img src="../images/home/step2.png" alt="Review Anywhere" />
						<h4>Review Anywhere</h4>
						<p>Let StudyEgg teach you at <br>home or on the go!</p>
					</div>

				</div>
				<!-- End Col -->

				<!-- Col -->
				<div class="col" style="width:260px">

					<div class="col-head last">
						<img src="../images/home/step3.png" alt="Get Results" />
						<h4>Get Results</h4>
						<p>Earn better grades with <br>less stress and less study time</p>
					</div>

				</div>
				<!-- End Col -->

				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Cols -->