<% @page_specific_scripts_css = "static/generic" %>

<div class="title">About Zen.do</div>

<div class="about_sections">
  <div class="problem about_section">
    <h3>The Problem: Managing an <span class="important_term">unmanagable</span> amount of information</h3>
    <p>Students are asked to learn an extraordinary amount of information in a short period of time. When it comes time to review, we have to sort through book and lecture notes to determine what really matters and then review it.</p>
    <p>As a result, we spend a lot of our study time figuring out what to learn and reviewing stuff we already know.</p>
  </div>

  <div class="solution about_section">
    <h3>The Solution: Study <span class="important_term">what</span> you need to <span class="important_term">when</span> you need to</h3>
    <p>Start by doing what you're doing. Yes, that's right. Take notes in class (on your laptop) as you do normally.</p>
    <p>Just one difference: Whenever you are writing down a concept, name, important date, etc. add a hyphen between a term and definition.</p>
    <p>Now you're ready to dramatically optimize your studying. Study you're notes as flashcards. Grade yourself and that's all there is to it.</p>
    <p>You learn. We optimize your time.</p>
  </div>

  <div class="vision about_section">
    <h3>Our Vision</h3>
    <p>Spend <span class="important_term">no extra time or effort</span> in the note-taking process.  Take notes on your computer as usual. That's it.</p>
    <p>Make <span class="important_term">efficient</span> use of study time.  Don't just read through your notes a few times before the test. Instead, review only what matters and what you have likely forgotten.</p>
    <p>Focus on the <span class="important_term">long-term.  </span>Keep the most important information you've learned at the tip of your tongue.</p>
  </div>
</div>