<% @page_specific_scripts_css = "static/generic", "users/home"  %>
<div class="about_wrapper">
  <div class="title">Contact Us</div>

  <div class="about_sections">
    <div class="problem about_section" style="width: 400px; float:right; margin: 0;">
      <div style="width:400px; float:left;">
        <h3>Come Visit! (or send a postcard)</h3>
      <p>Zendo Labs, Inc.<br/>
        1 Davol Sq Suite 203,<br/>
        Providence, RI 02903<br/>
      </p>
      </div>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=One+Davol+Square,+Providence,+RI&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=40.27343,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=One+Davol+Square,+Providence,+Rhode+Island&amp;t=h&amp;ll=41.824421,-71.406498&amp;spn=0.022386,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=One+Davol+Square,+Providence,+RI&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=40.27343,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=One+Davol+Square,+Providence,+Rhode+Island&amp;t=h&amp;ll=41.824421,-71.406498&amp;spn=0.022386,0.036478&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
      <div style="clear:both; margin-bottom: 10px;"></div>
    </div>

    <div class="problem about_section" style="width: 400px; float:left; margin:0 0 0 20px;">
      <div style="width:400px; float:left;">
        <h3>Email us!</h3>
        <p>Have Questions, Comments, Concerns, Praise?
          <br/> <a href="mailto:feedback@studyegg.com">feedback@studyegg.com</a></p>
        <p>Want to be friends?
          <br/><a href="mailto:partnerhips@studyegg.com">partnerships@studyegg.com</a></p>
        <p>Want to be <strong>best</strong> friends?
          <br/><a href="mailto:investors@studyegg.com">investors@studyegg.com</a></p>

        <h3>@ or DM us!</h3>
        <a href="http://twitter.com/studyegg">
        <%= image_tag "logos/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
        </a>
        <h3>Post on our wall!</h3>
        <a href="http://facebook.com/studyegg">
        <%= image_tag "logos/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
        </a>
    </div>
  </div>
</div>