<% @page_specific_scripts_css="static/generic.css" %>

<div class="title">FAQ</div>

<div class="expand-collapse">
  <a onclick="doc.toggleFacts();return false" href="#" id="toggle_switch">Expand All</a>
</div>

<table cellspacing="0" cellpadding="0" class="fact-table">
    <tbody>
        <tr>
            <td style="padding-left: 5px;">
            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td style="padding-bottom: 8px; padding-top: 8px;" onclick="if(this.parentNode.parentNode.rows.item(1).style.display==''){this.parentNode.parentNode.rows.item(1).style.display='none';this.style.backgroundImage='url(images/static/col.gif)'}else{this.parentNode.parentNode.rows.item(1).style.display='';this.style.backgroundImage='url(images/static/exp.gif)'}" class="heading"><span style="color: #196297;">Why should I add FAQs to my website?</span></td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">FAQ (Frequently Asked Question) pages have become commonplace on many websites. One of the biggest reasons is that they offer a way to provide self support so that customers and prospects can solve their own issues that come up.&nbsp;For larger companies,&nbsp;good FAQ pages can significantly decrease the&nbsp;demand&nbsp;on support and sales staff.<br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td style="padding-bottom: 8px; padding-top: 8px;" onclick="if(this.parentNode.parentNode.rows.item(1).style.display==''){this.parentNode.parentNode.rows.item(1).style.display='none';this.style.backgroundImage='url(images/static/col.gif)'}else{this.parentNode.parentNode.rows.item(1).style.display='';this.style.backgroundImage='url(images/static/exp.gif)'}" class="heading"><span style="color: #196297;">Can customers search FAQs?</span></td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">Yes. Customers can easily search for specific&nbsp;text by entering the search term into the box above and either pressing the &lt;enter&gt; key or clicking the&nbsp;magnifying&nbsp;glass&nbsp;icon.&nbsp;Advanced search options include 'exact phrase', 'all words' or 'any words'. If FAQs are organized into categories, users can also search within a specific category.<br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td style="padding-bottom: 8px; padding-top: 8px;" onclick="if(this.parentNode.parentNode.rows.item(1).style.display==''){this.parentNode.parentNode.rows.item(1).style.display='none';this.style.backgroundImage='url(images/static/col.gif)'}else{this.parentNode.parentNode.rows.item(1).style.display='';this.style.backgroundImage='url(images/static/exp.gif)'}" class="heading"><span style="color: #196297;">Can I customize the look and feel of the system?</span></td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">Yes. You can customize the skin by clicking the yellow triangles at the top or bottom of the screen. This allows you to add your company logo, add a background image, add your company menu, etc.&nbsp;You can also customize styles which are found in "Tools &gt; Styles".<br>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td style="padding-bottom: 8px; padding-top: 8px;" onclick="if(this.parentNode.parentNode.rows.item(1).style.display==''){this.parentNode.parentNode.rows.item(1).style.display='none';this.style.backgroundImage='url(images/static/col.gif)'}else{this.parentNode.parentNode.rows.item(1).style.display='';this.style.backgroundImage='url(images/static/exp.gif)'}" class="heading"><span style="color: #196297;">Can I import content from existing documents?</span></td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">Yes. Content can be imported from various&nbsp;documents including the following: <br>
                        <ul>
                            <li>Microsoft Word&trade;</li>
                            <li>Microsoft Excel&trade;</li>
                            <li>Microsoft&reg; HTML Help (.CHM files)</li>
                            <li>HTML Documents</li>
                            <li>XHTML Documents</li>
                            <li>RoboHelp&reg; Projects</li>
                            <li>FrameMaker&reg;</li>
                        </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td style="padding-bottom: 8px; padding-top: 8px;" onclick="if(this.parentNode.parentNode.rows.item(1).style.display==''){this.parentNode.parentNode.rows.item(1).style.display='none';this.style.backgroundImage='url(images/static/col.gif)'}else{this.parentNode.parentNode.rows.item(1).style.display='';this.style.backgroundImage='url(images/static/exp.gif)'}" class="heading"><span style="color: #196297;">Can videos be included in FAQs?</span></td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">Yes.&nbsp;Showing a user the&nbsp;answer to&nbsp;their question is often better than trying to explain it. There are several inexpensive screen recording tools&nbsp;such as Camtasia that can be used to create videos such as these.&nbsp;The following video formats are supported:<br>
                        <br>
                        <li>Flash Videos (*.swf, *.awi, *)</li>
                        <li>Media Files (*.mov, *.wma, *.wmv, *.avi, *.wav, *.mpeg, *.mpg, *.mpe, *.mp3, *.m3u, *.mid, *.midi, *.snd, *.mkv)</li>
                        <p>&nbsp;</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>