<% @page_specific_scripts_css="static/generic.css" %>

<div class="title">FAQ</div>

<div class="expand-collapse">
  <a onclick="doc.toggleFacts();return false" href="#" id="toggle_switch">Expand All</a>
</div>

<table cellspacing="0" cellpadding="0" class="fact-table">
    <tbody>
        <tr>
            <td>
            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td class="heading">
                          <span>
                            How do I make new study cards?
                          </span>
                        </td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">
                          <p>
                            First, create a new document. You can take notes however you like (paragraphs, outline format, etc). When you come across a term, important date, etc., use a dash to tell StudyEgg to make a card. An example:
                          </p>
                          <p style="padding-left:15px; font-style:italic; color:#666;">
                            Zendo - A Japanese term meaning "meditation hall"
                          </p>
                          <p>
                            This will create a flash card with the term "Zendo" on one side, and the phrase "A Japanese term meaning 'meditation hall'" on the other.
                          </p>
                          <p>
                            For more information, check out the tutorial video:
                          </p>
                          <p>
                            <iframe width="560" height="349" src="http://www.youtube.com/embed/hGpyPI2qdIg" frameborder="0" allowfullscreen></iframe>
                          </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td class="heading">
                          <span>
                            How do I review cards?
                          </span>
                        </td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">
                          <p>
                            Review cards by pressing “Review” in the top right corner of the editor when a document is open. You can also review a document by pressing the play button on either a document or folder.
                          </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td class="heading">
                          <span>
                            Why will I become a more efficient learner with StudyEgg?
                          </span>
                        </td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">
                          <p>
                            You will become a more efficient learner with StudyEgg in a few ways. First, by using flashcards and answering questions, you are engaging in test-based learning. Research has shown that repeated testing is at the heart of effective learning. StudyEgg also helps you to focus on the information that really matters and study only what you have forgotten. This is accomplished by estimating the importance of your review materials based upon how often you review a card, and how well you knew it (how you graded yourself).
                          </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td class="heading">
                          <span>
                            Can I share with my friends?
                          </span>
                        </td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">
                          <p>
                            Right now the only way to share with friends is by copying a document and sending it to others. This is not ideal, but we’re currently working on easy sharing between classmates.
                          </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="fact-wrapper">
                <tbody>
                    <tr>
                        <td class="heading">
                          <span>
                            Can I review on my mobile phone?
                          </span>
                        </td>
                    </tr>
                    <tr style="display: none;" class="fact">
                        <td class="fact">
                          <p>
                            Not yet. But check back later this summer!
                          </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>