<% @page_specific_scripts_css = "static/generic", "users/home" %>
<div class="about_wrapper">
<div class="sidebar">
  <div id="menu">
    <ul>
      <li><a href="/about" title="StudyEgg">StudyEgg</a></li>
      <!--<li><a href="/about/story" title="Story">Our Story</a></li>-->
      <li><a href="/about/mission" title="Mission">Our Mission</a></li>
      <!--<li><a href="/about/team" title="The Team">The Team</a>
        <ul>
          <li><a href="/about/team/bill" title="Bill DeRusha">Bill DeRusha</a></li>
          <li><a href="/about/team/josh" title="Josh Silverman">Josh Silverman</a></li>
          <li><a href="/about/team/jason" title="Jason Urton">Jason Urton</a></li>
        </ul></li>-->
    </ul>
  </div>
</div>
<div class="main">
  <div class="title">Our Mission</div>

  <div class="about_sections">
    <div class="problem about_section">
      <h3>...is to make learning less stressful and more effective for everyone.</h3>
      <p>Learning shouldn't be the chore that we make it out to be.  Our mission is to equip people with tools that
      help them enjoy their material more, understand it more completely, and remember it for longer.</p>
    </div>
  </div>
</div>
</div>