    <!-- START RETURN POLICY CODE -->
    <div style="width:400px; margin: 50px auto; font-size: 16px;">
      We guarantee your satisfaction with our premium content.  If for some 
      reason you are not satisfied by your purchase you may contact <a href="mailto:returns@studyegg.com">returns@studyegg.com</a>
      within 30 days of your purchase and we will refund you in full.<br />
      <!-- END RETURN POLICY CODE -->
    </div>
