<h3>Josh's Story</h3>
<div style="float:left; margin:0 15px 0 0">
  <img src="../images/static/josh.png" />
</div>
<p>
  StudyEgg was born out of a problem that has been impacting me for the last decade.  It probably goes back much further than that, but it really started becoming apparent in high school. Like many students, I didn’t really know how to study effectively. I would cram as much info into my brain before a test as I could, regurgitate it onto an exam page the next day.  While I managed to get by with this strategy, within a few weeks all the information I had worked so hard to acquire had completely disappeared like some cruel magic trick. Sound familiar?
</p>

<div style="float:right; margin:0 0 10px 15px;">
  <img src="../images/static/messy-desk.jpg" />
</div>

<p>
Fast forward a little now to the college years.  Despite becoming more and more interested in my favorite subjects (French and political science), nothing had changed with regard to my study habits - I still wasn’t retaining much of what I learned.  Studying was like putting out fires- cramming for a test one day, and finishing just in time to bang out a paper the next.   Looking back, what was truly troubling was that my grades were fine during this period despite the fact that something was fundamentally wrong. Due to the lack of immediate consequences, there was no imperative to change my habits- I continued along in that vicious cycle of cramming, testing, and forgetting for the full four years.
</p>

<p>
Toward the end of my time in college,  I began tutoring other students in math.  And what started as a relatively small resume builder ended up awakening a passion for teaching others that I couldn’t ignore.  Upon graduating, I moved to South Korea and began teaching fifth graders English and information technology and after that I taught math and ESL in Spain.  My students were all truly amazing, brilliant children.  However, teaching them things sometimes felt like an exercise in futility.  I found that even when I would teach these clearly bright students something one week (and it was obvious to me that they had grasped it), I would be met with a sea of blank stares just two weeks later when I brought it up again. It was as if they all suffered from some strange form of amnesia.
</p>
<div style="float:left; margin:0 15px 0 0;">
  <img src="../images/static/tutor.jpg" />
</div>


<p>
After reflecting more on this experience, I came to realize that these students were no different from me when I was in school. I had been afflicted with that very same educationally induced amnesia just a few years ago! I was just seeing the same problem from the other side of the desk. I left Spain on a mission to end this forgetful cycle of “learning” that so many of us fall victim to.
</p>

<p>
I began poring over the learning sciences research, finding discussion of the issue that had troubled me for so long. The problem is directly related to how people study. Most of us simply read and reread our notes and textbooks in the night(s) leading up to an exam. But the research shows that this is extremely ineffective because we are never forced to produce the answers ourselves, only to recognize the answers.  If you take advantage of active recall techniques, where you are forced to produce the answer on  your own (flashcards are a good example of this), you actually see improvements that jump you from the 50th percentile in knowledge retention to the 99th percentile!
</p>

<p>
Needless to say, my interest in cognitive psychology and neuroscience continued to grow as I learned more about the fascinating topic of how human memory works and all of the methods for improving it. I soon decided to go back to school to pursue a Master’s degree in computer science while deepening my knowledge of the brain and memory. There I met fellow students Bill and Jason, who rounded out the perfect team to change the face of education. In January of 2011, we started building StudyEgg. What you see here are the ongoing fruits of our labor.
</p>