<h3>Josh's Story</h3>
<p>
StudyEgg was born out of a problem that has been impacting me for the last decade.  It probably goes back much further than that, but it really started becoming apparent in high school. Like many students, I didn’t really know how to study effectively.  Mix that with a little bit of procrastination and guess what happens. I would cram as much info into my brain before a test as I could, regurgitate it onto an exam page the next day, and within a month - POOF - it had all disappeared like some cruel magic trick. Sound familiar?
</p>

<p>
Fast forward a little now to the college years.  Despite becoming more and more interested in my favorite subjects (French and political science), nothing had changed.  I still wasn’t retaining as much of it as I wanted down the road.  Studying was like putting out fires- cramming for a test one day, and finishing just in time to bang out a paper the next.  The worst of it was that my grades were fine so there wasn’t a real imperative to change.  So I continued along with that vicious cycle of cramming, testing, and forgetting for the next four years.
</p>

<p>
Toward the end of my time in college I started tutoring students in math.  Little did I know when I signed up for that, the journey that it would take me on.  Tutoring awakened a passion for teaching others that I couldn’t ignore.  Upon graduating I moved to South Korea and taught 5th graders English and IT.  My students were truly amazing, brilliant children.  But it turns out they all suffered from amnesia!  At least that’s the only solution I had for why I would teach them something (and they would clearly understand it) one week, then reference it 2 weeks later only to be met by sea of blank stares.  Complete. Amnesia.
</p>

<p>
After South Korea, I taught math and ESL in Spain for a year.  There must be something in the juice boxes these days, because all of my little niños and niñas were suffering from the same amnesia as those South Korean 5th graders! I would teach them something. They would do well in class and on quizzes. But when I would talk about it a month later, they would look at me like I had four heads. Rinse and repeat.  After reflecting on this experience a little longer it finally dawned on me that these students were no different from me when I was in school. I left Spain on a mission to end this forgetful cycle of “learning” that so many of us fall victim to.
</p>

<p>
I began pouring over pages and pages of research, and what I found was very interesting.
The problem is in how people study.  Using active recall methods, students retain over 4 times the amount of information than traditional reading and rereading methods.
</p>

<p>
I took this research and applied it to my first attempt at a solution, Memenomics.  My interest in cognitive psychology and cognitive neuroscience continued to grow as I learned more about this fascinating topic of how our memories work.  It wasn’t long before I decided to go back to school and get a degree in computer science.  There I met Bill and Jason, to round out the perfect team to change the face of education.  In January of 2011, we started building StudyEgg.  And the rest, as they say, is history.
</p>