<% @page_specific_scripts_css = "static/generic" %>
<div class="sidebar">
  <div id="menu">
    <ul>
      <li><a href="/about" title="StudyEgg">StudyEgg</a></li>
      <li><a href="/about/story" title="Story">Our Story</a></li>
      <li><a href="/about/mission" title="Mission">Our Mission</a></li>
      <li><a href="/about/team" title="The Team">The Team</a>
        <!--<ul>
          <li><a href="/about/team/bill" title="Bill DeRusha">Bill DeRusha</a></li>
          <li><a href="/about/team/josh" title="Josh Silverman">Josh Silverman</a></li>
          <li><a href="/about/team/jason" title="Jason Urton">Jason Urton</a></li>
        </ul>--></li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="title">About StudyEgg</div>

  <div class="about_sections">
    <div class="problem about_section">
      <h3>What exactly Is StudyEgg?</h3>
      <p>
        StudyEgg is a service that takes all the hassle and cramming out of studying.
      </p>
      <p>
        Despite overwhelming research showing the benefits of test driven studying (like flash cards and fill-in-the-blank questions) too many students don't think they have the time to invest in creating these awesome resources.
        This is where we come in. StudyEgg helps convert your notes, professor's powerpoints, even digital textbooks into easy and effective activities <span class="important_term">proven</span> to help you perform <span class="important_term">3x better</span> compared to just reading and rereading notes. What's more, you will remember those facts <span class="important_term">8 times longer.</span>
      </p>
      <p>
        Pretty great, huh? We think so! But it doesn't stop there. We'll get you ready for your test too by sending you the facts periodically on your phone prioritized by what you're still having trouble with or haven't seen in a while (so you don't forget).  Not only will you know the material for the test next week, but the midterm next month, and the Jeopardy question next year.</p>
      </p>
    </div>

    <div class="hr"></div>

    <div class="solution about_section">
      <h3>How Does It Work?</h3>
      <p>
        First, we use a little computer magic to help you convert your notes into interactive activities.
      </p>
      <p>
        Then we start sending them you to you in small bite-sized batches to learn little by little (of course you can always use us for a longer study session as well).
      </p>
      <p>
        Based on how well you do on each activity we prioritize which ones you need to review next (and as time passes which ones you're likely to have forgotten).
      </p>
    </div>

    <div class="hr"></div>

    <div class="vision about_section">
      <h3>No Notes? No Problem</h3>
      <p>
        Sure, we make it easy to create a rich set of interactive activities for any topic, but what if you don't have good notes to go on? Right now you have a few options with even more coming soon!
      </p>
      <p>
        We allow individuals to <span class="important_term">share</span> their study guides with other classmates. Just like you would in a real study group.  You can also browse our public study guides and find something interesting there.
      </p>
      <p>
        In the near future we also plan to offer a marketplace where students can buy high quality pre-made study guides specific to their particular class or textbook.
      </p>
    </div>
  </div>
</div>