<h3>The Vision</h3>
<p>Our mission here at StudyEgg is to make studying easier, less stressful, and more effective.  For too many students learning has become an exercise in putting out fires. Cramming in just enough to do well on an exam (or not) the night before. Finishing just in time to do it all over again with a different class.  Studying this way is not only high stress but it’s an extremely ineffective way to learn.  StudyEgg changes all that by utilizing state-of-the-art learning research to help students learn better, retain information longer, and spend less time studying.  We built StudyEgg to address these universal student issues of time and stress directly and, as students and StudyEgg users ourselves, we can confidently proclaim: It works!</p>

<h3 id="josh">Josh Silverman Co-Founder and CEO</h3>
<p>Josh Silverman has over 6 years of web development experience and a long-standing passion for the integration of technology in education. He graduated Cum Laude from the University of Pennsylvania in 2007.  He then worked as teacher in South Korea and Spain before returning to the states to pursue his Master&rsquo;s in Computer Science at Brandeis University with a focus on cognitive science and memory modeling.  He recently presented a poster and abstract on his thesis paper at the 2011 Cog Sci Society convention. In addition to his work at StudyEgg, Josh (with Jason and two others) started, and is actively involved in, an initiative to bring technology and computer training to Kenya.</p>
<p>You can read more about what drove Josh to start StudyEgg <a href="/story">here</a>.</p>
<ul class="funfacts">
        <li>Josh&rsquo;s favorite course in college was... Ethnic and Political Conflict</li>
        <li>Josh likes his eggs... sunny side up</li>
        <li>When he isn&rsquo;t hunched over his computer you can find him... rock and ice climbing</li>
</ul>

<h3 id="jason">Jason Urton Co-Founder and CTO</h3>
<p>Jason Urton is the mobile guru behind StudyEgg.  He graduated from Lafayette College in 2008 with a BA in Anthropology &amp; Sociology.  He then worked for Hewlett-Packard and SalesQuest before attending Brandeis University in pursuit of a Master&rsquo;s in Computer Science and IT Entrepreneurship.  He has a history of -and enthusiasm for- building tools that facilitate learning for both himself and others.  Outside of StudyEgg, Jason is a co-founder (along with Josh and two others) of an initiative to bring technology and computer training to Kenya.</p>
<ul class="funfacts">
        <li>Jason&rsquo;s favorite course in college was... Ethnographic Research</li>
        <li>Jason likes his eggs... scrambled</li>
        <li>When he isn&rsquo;t hunched over his computer you can find him... jamming on his guitar</li>
</ul>
<h3 id="bill">Bill DeRusha Co-Founder and CMO</h3>
<p>Bill DeRusha is part marketer, part hacker.  He graduated Cum Laude from Bentley College in 2008 with a BS in Marketing.  He started his first business while still in high school and he&rsquo;s been coding, with a strong penchant for web development, since AOL 2.0 cds were cool. He worked as a consultant in the search marketing industry before joining Brandeis University&rsquo;s Computer Science and IT Entrepreneurship program. Beyond StudyEgg, Bill is a strong advocate for the arts and directs an improv troupe at his Alma Mater.</p>
<ul class="funfacts">
        <li>Bill&rsquo;s favorite course in college was... Advanced Video Production</li>
        <li>Bill likes his eggs... over easy</li>
        <li>When he isn&rsquo;t hunched over his computer you can find him... performing improv and running</li>
</ul>