  .buy{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
  }

.egg_container h2{font-size: 14px; font-weight: normal;}
.egg_container h4{font-size: 10px;}
.egg_container .egg_image{float:left;}
.egg_container .egg_info{float:left; margin: 30px 0 0 15px;}
.egg_container .egg_price{color: #b00000; font-weight: bold;}
.egg_container .review{margin-top:10px; margin-left: -10px;}

.egg_container{
    width:297px;
    float: left;
    margin: 15px 10px;
    color:#606060;
    box-shadow: 0 1px 4px #aaa;
    border-radius: 3px;
}

.egg_container .title {
  padding:8px;
  background:#F8F8F8;
  border-bottom: 1px solid #EEE;
  height:35px;
  overflow:hidden;
}

.egg_container .title h2 {
  font-weight:bold;
  color:#004B91;
}

.egg_container .title h2:hover {
  text-decoration:underline;
  color:#C60;
}

#search{
  text-align: center;
  width:360px;
  width:932px;
  margin:20px 10px 10px;
  background:#FFE25F;
/*  box-shadow: 0 1px 4px #ccc;*/
/*  border:1px solid #ccc;*/
  border-radius: 3px;
  padding:20px 0;
}

.inner-search {
  width:345px;
  margin:auto;
}

#loader {
  width:32px;
  height:32px;
  display: block;
  margin:0px;
  float:left;
}

#search_results{width:100%;}
#search_results a{text-decoration: none; color: #606060;}
#search_results a:hover{text-decoration: none; color: #606060;}

  .egg{
    display: block;
    width: 110px;
    height: 135px;
    overflow: hidden;
    background: url("../../images/home/egg.png") no-repeat;
    position: relative;
}

.egg-box{
    display: block;
    width: 110px;
    margin: 0 25px 15px 0;
    text-align: center;
}

  .icon{
    position: relative;
    top: 45px;
    left:31px;
    display:block;
}

#search-box{
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-size: 18px;
    padding:4px;
    width: 292px;
    font-weight: bold;
    position: relative;
    margin-left: 10px;
    z-index: 10;
    border: #a0a0a0 1px solid;
    color:#222;
}

input[type="search"]:-webkit-search-decoration,
input[type="search"]:-webkit-search-cancel-button,
input[type="search"]:-webkit-search-results-button,
input[type="search"]:-webkit-search-results-decoration {
  display: none;
}

#carousel-1{margin:0 auto;}

.egg-head{font-size: 30px; margin: 20px 0; line-height: 30px;}
.detail-float{float:left; width:400px;}
.detail-float li{margin-left:-20px; }
.detail-float li a{text-decoration: underline;}

#breadcrumbs{font-size: 12px; color: #828282; margin-bottom: 15px;}
#breadcrumbs a{color:  #828282;}
#breadcrumbs a:hover{text-decoration: underline;}