.star-rating{
		list-style:none;
                line-height: 15px;
		margin-left:0px !important;
		padding:0px;
                padding-bottom: 15px !important;
		width: 75px;
		height: 0px;
		position: relative;
		background: url(../../images/shared/alt_star.gif) top left repeat-x;		
	}
	.star-rating li{
		padding:0px;
		margin:0px;
		/*\*/
		float: left;
		/* */
	}
	.star-rating li a{
		display:block;
		width:15px;
		height: 15px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
		position: absolute;
		padding: 0px;
	}
	.star-rating li a:hover{
		background: url(../../images/shared/alt_star.gif) left bottom;
		z-index: 2;
		left: 0px;
	}
	.star-rating a:focus,
	.star-rating a:active{
		border:0;	
		-moz-outline-style: none;
    	        outline: none; 
	}
	.star-rating a.one-star{
		left: 0px;
	}
	.star-rating a.one-star:hover{
		width:15px;
	}
	.star-rating a.two-stars{
		left:15px;
	}
	.star-rating a.two-stars:hover{
		width: 30px;
	}
	.star-rating a.three-stars{
		left: 30px;
	}
	.star-rating a.three-stars:hover{
		width: 45px;
	}
	.star-rating a.four-stars{
		left: 45px;
	}	
	.star-rating a.four-stars:hover{
		width: 60px;
	}
	.star-rating a.five-stars{
		left: 60px;
	}
	.star-rating a.five-stars:hover{
		width: 75px;
	}
	.star-rating li.current-rating{
		background: url(../../images/shared/alt_star.gif) left center;
		position: absolute;
		height: 15px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
	}
        
.static-star-rating{
		list-style:none;
                line-height: 15px;
		margin-left:10px !important;
		padding:0px;
                padding-bottom: 15px !important;
		width: 75px;
		height: 0px;
		position: relative;
		background: url(../../images/shared/alt_star.gif) top left repeat-x;
	}
	.static-star-rating>li{
		padding:0px;
		margin:0px;
		/*\*/
		float: left;
		/* */
	}
	.static-star-rating>li>a{
		display:block;
		width:15px;
		height: 15px;
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
		position: absolute;
		padding: 0px;
                cursor: default;
	}
	.static-star-rating a:focus,
	.static-star-rating a:active{
		border:0;	
		-moz-outline-style: none;
    	        outline: none; 
	}
	.static-star-rating a.one-star{
		left: 0px;
	}
	.static-star-rating a.two-stars{
		left:15px;
	}
	.static-star-rating a.three-stars{
		left: 30px;
	}
	.static-star-rating a.four-stars{
		left: 45px;
	}	
	.static-star-rating a.five-stars{
		left: 60px;
	}
	.static-star-rating li.current-rating{
		background: url(../../images/shared/alt_star.gif) left center;
		position: absolute;
		height: 15px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
	}