#content {
  height:500px;
  margin:50px 0 20px;
  position:relative;
  padding:0 23px;
}

#media {
  position:relative;
  top:51px;
  height:400px;
  width:625px;
  float:left;

  background:#efefef;
  border-radius: 3px 0 0 3px;
}

#chat {
  height:500px;
  width:300px;
  float:left;

  color:#606060;
  box-shadow: 0 1px 4px #ccc;
  border-radius: 3px;
}

#chat .title {
  padding:8px;
  background:#F8F8F8;
  border-bottom: 1px solid #EEE;
  height:35px;
  overflow:hidden;
}

#chat .title h2 {
  font-weight:bold;
  color:#004B91;
}

.output {
  width:290px;
  padding:5px;
  height:320px;
/*  background:red;*/
}

.statement img {
  max-height:32px;
  max-width:32px;
}

.utterance {
  float:right;
  width:250px;
  background: blue;
  position:relative;
/*  top:-32px;*/
}

.input {
  height:107px;
  padding:5px;
/*  background:red;*/
  border-top: 1px solid #EEE;
}

#footer {
  display:none;
}