<!-- Footer -->
<div id="footer">

	<!-- Shell -->
	<div class="shell">

		<div class="links">
			<h4>StudyEgg</h4>
			<ul>
			    <li><a href="/team#josh">The Team</a></li>
			    <li><a href="/story">Josh's Story</a></li>
			    <li><a href="/about">About</a></li>
			</ul>
		</div>

		<div class="links">
			<h4>Legal</h4>
			<ul>
			    <li><a href="/privacy">Privacy Policy</a></li>
			    <li><a href="/tos">Terms of Service</a></li>
			</ul>
		</div>

		<div class="links">
			<h4>Contact</h4>
			<ul>
			    <li><a href="mailto:studyegg.com">Email Us</a></li>
			    <li><a href="http://www.facebook.com/StudyEgg" target="_blank">Facebook</a></li>
			    <li><a href="http://twitter.com/#!/studyegg" target="_blank">Twitter</a></li>
			</ul>
		</div>

		<div class="social">
			<a href="http://twitter.com/#!/studyegg" class="twitter-link" target="_blank">Twitter</a>
			<a href="http://www.facebook.com/StudyEgg" class="facebook-link" target="_blank">Facebook</a>
			<!--<a href="#" class="google-link">Google</a>-->

			<div class="cl">&nbsp;</div>
		</div>

		<div class="cl">&nbsp;</div>

		<div class="bottom">
			<p>Copyright 2011 Zendo Labs, Inc. All rights reserved.</p>
		</div>

	</div>
	<!-- End Shell -->

</div>