<!-- Header -->
<div id="header">

	<!-- Shell -->
	<div class="shell">

		<!-- Head -->
		<div id="head">

			<!-- Head Row -->
			<div class="row-top">
				<h1 id="logo"><a href="/" class="notext">Logo</a></h1>
				
                <%= render 'shared/authentication' %>

				<div class="cl">&nbsp;</div>
			</div>
			<!-- End Head Row -->

		</div>
		<!-- End Head -->

	</div>
	<!-- End Shell -->

</div>
<!-- End Header -->